<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="mobile_robot">
  <xacro:macro name="wheel">
    <visual>
      <origin xyz="0.02 0 0" rpy="0 0 ${pi/2}"/>
      <geometry>
        <box size="0.6 0.4 0.10"/>
      </geometry>
    </visual>
    <inertial>
      <mass value="0.5"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.000001" iyz="0.0" izz="0.0"/>
    </inertial>
    <collision>
      <origin xyz="0.027 0 0.0" rpy="0 ${pi/2} 0"/>
      <geometry>
         <cylinder length="0.045" radius="0.08"/>
      </geometry>
    </collision>
  </xacro:macro>
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.6 0.4 0.10"/>
      </geometry>
      <material name="acrylic">
        <color rgba="1 1 1 0.8"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.6 0.4 0.10"/>
      </geometry>
    </collision>
  </link>
</robot>
