<?xml version="1.0"?>
<launch>
  <arg name="use_gui" default="false"/>
  <param name="use_gui" value="$(arg use_gui)"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_pub" />
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_pub" />
</launch>
